# Virtual Environment
venv/
.venv/
env/
bin/
lib/
share/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.ipynb_checkpoints

# OS Files
.DS_Store
Thumbs.db

# Data & Models (STRICT: No data committed)
data/
datasets/
*.csv
*.xlsx
*.parquet
*.json
*.jpg
*.jpeg
*.bmp
*.gif
*.tiff
*.wav
*.mp3
*.flac
*.ogg
*.pt
*.pth
*.ckpt
*.onnx

# IDEs
.vscode/
.idea/
*.swp
*.swo
/parcial_3/transfer_learning/lightning_logs

# YOLO
/parcial_3/yolo/local

# RAG
/parcial_3/rag/local

# Secretos
.env
/parcial_3/rag/local
/parcial_3/telegram_bot/weights
